/* MLLC.css */

body {
  background: #dddddd;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

.main {
    text-align: center;
    padding-left: 500px;
    max-width: 600px;
}

.taTreeArea {
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid slategrey;
    border-bottom: 1px solid slategray;
    background-color: black;
    color: limegreen;
    height: 200px;
    width: 250px;
    overflow-y: auto;
    overflow-x: auto;
}

.taCodeArea {
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid slategrey;
    border-bottom: 1px solid slategray;
    background-color: whitesmoke;
    height: 200px;
    width: 340px;
    overflow-y: auto;
}

.taOutArea {
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid slategrey;
    border-bottom: 1px solid slategray;
    background-color: black;
    color: limegreen;
    height: 100px;
    width: 250px;
    overflow-y: auto;
}

.taErrArea {
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-right: 1px solid slategrey;
    border-bottom: 1px solid slategray;
    background-color: black;
    color: limegreen;
    height: 100px;
    width: 340px;
    overflow-y: auto;
}